<a href="https://colab.research.google.com/github/bschandramohan/PyConnect/blob/main/Salary_comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

In [ ]:
df["Undergraduate Major"].max()

'Spanish'

In [ ]:
df["Mid-Career Median Salary"].max()

107000.0

In [ ]:
df["Mid-Career Median Salary"].idxmax()

8

In [ ]:
df.loc[df["Mid-Career Median Salary"].idxmax()]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                              63200
Mid-Career Median Salary                           107000
Mid-Career 10th Percentile Salary                   71900
Mid-Career 90th Percentile Salary                  194000
Group                                                STEM
Name: 8, dtype: object

In [ ]:
# What college major has the highest mid-career salary? How much do graduates with this major earn?
highest_index = df['Mid-Career Median Salary'].idxmax()
print("Major =", df['Undergraduate Major'].loc[highest_index])
print("Starting Salary =", df['Starting Median Salary'].loc[highest_index])
df['Mid-Career Median Salary'].loc[highest_index]

Major = Chemical Engineering
Starting Salary = 63200.0

107000.0

In [ ]:
# spread_col = df['Mid-Career 90th Percentile Salary'] - df['Mid-Career 10th Percentile Salary']
# df.insert(1, 'spread', spread_col)
df.head()

df.sort_values('spread')

df.sort_values('Mid-Career 90th Percentile Salary', ascending=False).head()

     Undergraduate Major    spread  ...  Mid-Career 90th Percentile Salary     Group
17             Economics  159400.0  ...                           210000.0  Business
22               Finance  147800.0  ...                           195000.0  Business
8   Chemical Engineering  122100.0  ...                           194000.0      STEM
37                  Math  137800.0  ...                           183000.0      STEM
44               Physics  122000.0  ...                           178000.0      STEM

[5 rows x 7 columns]